:root {
  --bg-color-1: hsl(70.74, 69.23%, 54.12%);
  --bg-color-2: hsl(250.74, 69.23%, 45.88%);
  --bg-color-3: hsl(0, 0%, 74.9%);
}
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  display: grid;
  grid-template-rows: 0.25fr 1fr 1fr;
  height: 100vh;
  width: 100vw;
}

/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
  8. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

.search-query {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-color-1);
}

#current-weather {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background-color: var(--bg-color-2);
  color: var(--bg-color-1);
  gap: 1vw 1vh;
}

#current-weather > section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1vw 1vh;
}

#address {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration-line: underline;
  font-size: 2rem;
}

#current-conditions {
  display: flex;
  align-items: center;
  justify-items: center;
}

.weather-card {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(3, auto);
  gap: 1vw 1vh;
  border: 0.25em solid;
  border-radius: 2vw;
  padding: 1vh;
  width: 30vw;
}

.weather-card > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.time {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
}

.conditions {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;
}
.conditions-icon {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 2;
}

.temperature {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 3;
}

.temp-feels-like {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 3;
}

.query-results {
  display: flex;
  justify-content: center;
  background-color: var(--bg-color-3);
}

form {
  display: flex;
  column-gap: 1vw;
}

#todays-weather-hourly {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: auto;
}

form > div:nth-of-type(3) {
  flex: 1 1 auto;
  align-self: end;
}

.form-field {
  display: flex;
  flex-direction: column;
}

.icons {
  height: 10vw;
  width: 10vh;
  margin: auto;
  filter: invert(100%) sepia(33%) saturate(4501%) hue-rotate(11deg)
    brightness(98%) contrast(75%);
}
